In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

plt.rcParams.update({'figure.max_open_warning': 0})
%matplotlib inline 

df = pd.read_csv('/users/Davwak/Downloads/Air_Quality.csv',
                dtype={
                    'LocationNamme': 'category',
                    'MeasurementType': 'category',
                    'MeasurementUnit': 'category',
                    'location': 'category'
                })

df['ObservationTime'] = pd.to_datetime(df['ObservationTime'], infer_datetime_format=True)

df = df[df.ThingID != 84]  # ------
df = df[df.ThingID != 102] # These are busted devices reporting weird values.
df = df[df.ThingID != 90]  # nuking them
df = df[df.ThingID != 96]  #------- 

 df = df.loc[df.MeasurementValue != -99.99] # removing the bads

In [2]:
df.groupby('ThingID')['ObservationID'].nunique()

ThingID
66      95841
72     186065
78     193486
96     231146
108    153495
114    130551
120    232460
Name: ObservationID, dtype: int64

In [3]:
df.isnull().sum()

ObservationID       0
ObservationTime     0
ThingID             0
LocationName        0
MeasurementType     0
MeasurementValue    0
MeasurementUnit     0
location            0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1223044 entries, 0 to 1498847
Data columns (total 8 columns):
ObservationID       1223044 non-null int64
ObservationTime     1223044 non-null datetime64[ns]
ThingID             1223044 non-null int64
LocationName        1223044 non-null object
MeasurementType     1223044 non-null category
MeasurementValue    1223044 non-null float64
MeasurementUnit     1223044 non-null category
location            1223044 non-null category
dtypes: category(3), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 59.5+ MB

In [12]:
table = df.pivot_table(values='MeasurementValue', index='ThingID', columns='MeasurementType', aggfunc=np.mean)

In [13]:
table

MeasurementType   Humidity  PM2.5 Particulates  Temperature
ThingID
66               60.663370            9.590233     6.367534
72               65.096568            8.208362    -0.719975
78               64.171814            8.801702    -0.119921
96               67.698646           10.297504     0.410530
108              70.337733            9.018782    -2.200657
114              70.417790            9.807202    -3.754061
120              63.632792            8.417941     1.460595

In [33]:
df.loc[(df['ThingID'] == 96) & (df['MeasurementType'] == 'PM2.5 Particulates') & (df['MeasurementValue'] > 60)]

,ObservationID,ObservationTime,ThingID,LocationName,MeasurementType,MeasurementValue,MeasurementUnit,location
724,672103,2017-12-18 01:14:24,96,Transcona #2,PM2.5 Particulates,185.0,ug/m3,"(49.905908, -96.975043)"
2294,800509,2018-01-07 13:14:44,96,Transcona #2,PM2.5 Particulates,66.0,ug/m3,"(49.905908, -96.975043)"
3541,672127,2017-12-18 01:19:26,96,Transcona #2,PM2.5 Particulates,81.0,ug/m3,"(49.905908, -96.975043)"
8312,800530,2018-01-07 13:19:45,96,Transcona #2,PM2.5 Particulates,65.0,ug/m3,"(49.905908, -96.975043)"
14283,800551,2018-01-07 13:24:47,96,Transcona #2,PM2.5 Particulates,68.0,ug/m3,"(49.905908, -96.975043)"
16241,1382909,2018-05-03 06:11:57,96,Transcona #2,PM2.5 Particulates,71.0,ug/m3,"(49.905908, -96.975043)"
16279,1382927,2018-05-03 06:16:58,96,Transcona #2,PM2.5 Particulates,74.0,ug/m3,"(49.905908, -96.975043)"
16335,10139,2017-08-31 14:24:37,96,Transcona #2,PM2.5 Particulates,68.0,ug/m3,"(49.905908, -96.975043)"
19760,3517,2017-08-30 12:46:37,96,Transcona #2,PM2.5 Particulates,63.0,ug/m3,"(49.905908, -96.975043)"
19781,3538,2017-08-30 12:51:39,96,Transcona #2,PM2.5 Particulates,64.0,ug/m3,"(49.905908, -96.975043)"
19802,3559,2017-08-30 12:56:41,96,Transcona #2,PM2.5 Particulates,63.0,ug/m3,"(49.905908, -96.975043)"
19823,3580,2017-08-30 13:01:43,96,Transcona #2,PM2.5 Particulates,65.0,ug/m3,"(49.905908, -96.975043)"
19844,3601,2017-08-30 13:06:45,96,Transcona #2,PM2.5 Particulates,64.0,ug/m3,"(49.905908, -96.975043)"
19879,3636,2017-08-30 13:16:49,96,Transcona #2,PM2.5 Particulates,61.0,ug/m3,"(49.905908, -96.975043)"
19897,3654,2017-08-30 13:21:50,96,Transcona #2,PM2.5 Particulates,67.0,ug/m3,"(49.905908, -96.975043)"
19915,3672,2017-08-30 13:26:52,96,Transcona #2,PM2.5 Particulates,65.0,ug/m3,"(49.905908, -96.975043)"
19933,3690,2017-08-30 13:31:54,96,Transcona #2,PM2.5 Particulates,71.0,ug/m3,"(49.905908, -96.975043)"
19951,3708,2017-08-30 13:36:56,96,Transcona #2,PM2.5 Particulates,63.0,ug/m3,"(49.905908, -96.975043)"
19969,3726,2017-08-30 13:42:00,96,Transcona #2,PM2.5 Particulates,67.0,ug/m3,"(49.905908, -96.975043)"
19987,3744,2017-08-30 13:47:02,96,Transcona #2,PM2.5 Particulates,76.0,ug/m3,"(49.905908, -96.975043)"
20005,3762,2017-08-30 13:52:04,96,Transcona #2,PM2.5 Particulates,69.0,ug/m3,"(49.905908, -96.975043)"
20023,3780,2017-08-30 13:57:07,96,Transcona #2,PM2.5 Particulates,68.0,ug/m3,"(49.905908, -96.975043)"
20041,3798,2017-08-30 14:02:09,96,Transcona #2,PM2.5 Particulates,70.0,ug/m3,"(49.905908, -96.975043)"
20059,3816,2017-08-30 14:07:15,96,Transcona #2,PM2.5 Particulates,72.0,ug/m3,"(49.905908, -96.975043)"
20077,3834,2017-08-30 14:12:17,96,Transcona #2,PM2.5 Particulates,72.0,ug/m3,"(49.905908, -96.975043)"
20095,3852,2017-08-30 14:17:19,96,Transcona #2,PM2.5 Particulates,73.0,ug/m3,"(49.905908, -96.975043)"
20113,3870,2017-08-30 14:22:21,96,Transcona #2,PM2.5 Particulates,69.0,ug/m3,"(49.905908, -96.975043)"
20131,3888,2017-08-30 14:27:23,96,Transcona #2,PM2.5 Particulates,69.0,ug/m3,"(49.905908, -96.975043)"
20149,3906,2017-08-30 14:32:25,96,Transcona #2,PM2.5 Particulates,73.0,ug/m3,"(49.905908, -96.975043)"
20167,3924,2017-08-30 14:37:27,96,Transcona #2,PM2.5 Particulates,62.0,ug/m3,"(49.905908, -96.975043)"
...,...,...,...,...,...,...,...,...
1482412,1470328,2018-05-21 04:13:22,96,Transcona #2,PM2.5 Particulates,111.0,ug/m3,"(49.905908, -96.975043)"
1482427,1470343,2018-05-21 04:18:24,96,Transcona #2,PM2.5 Particulates,93.0,ug/m3,"(49.905908, -96.975043)"
1482852,1470403,2018-05-21 04:38:32,96,Transcona #2,PM2.5 Particulates,72.0,ug/m3,"(49.905908, -96.975043)"
1482882,1470433,2018-05-21 04:48:35,96,Transcona #2,PM2.5 Particulates,74.0,ug/m3,"(49.905908, -96.975043)"
1483208,1470448,2018-05-21 04:53:37,96,Transcona #2,PM2.5 Particulates,62.0,ug/m3,"(49.905908, -96.975043)"
1483231,1470478,2018-05-21 05:03:41,96,Transcona #2,PM2.5 Particulates,254.0,ug/m3,"(49.905908, -96.975043)"
1483246,1470493,2018-05-21 05:08:43,96,Transcona #2,PM2.5 Particulates,269.0,ug/m3,"(49.905908, -96.975043)"
1483261,1470508,2018-05-21 05:13:45,96,Transcona #2,PM2.5 Particulates,237.0,ug/m3,"(49.905908, -96.975043)"
1483596,1470523,2018-05-21 05:18:47,96,Transcona #2,PM2.5 Particulates,361.0,ug/m3,"(49.905908, -96.975043)"
1483611,1470538,2018-05-21 05:23:49,96,Transcona #2,PM2.5 Particulates,190.0,ug/m3,"(49.905908, -96.975043)"
1483626,1470553,2018-05-21 05:28:50,96,Transcona #2,PM2.5 Particulates,152.0,ug/m3,"(49.905908, -96.975043)"
1483641,1470568,2018-05-21 05:33:52,96,Transcona #2,PM2.5 Particulates,128.0,ug/m3,"(49.905908, -96.975043)"
1483656,1470583,2018-05-21 05:38:54,96,Transcona #2,PM2.5 Particulates,826.0,ug/m3,"(49.905908, -96.975043)"
1483671,1470598,2018-05-21 05:43:57,96,Transcona #2,PM2.5 Particulates,76.0,ug/m3,"(49.905908, -96.975043)"
1487470,1451913,2018-05-16 21:02:07,96,Transcona #2,PM2.5 Particulates,73.0,ug/m3,"(49.905908, -96.975043)"
1487485,1451928,2018-05-16 21:07:09,96,Transcona #2,PM2.5 Particulates,85.0,ug/m3,"(49.905908, -96.975043)"
1487500,1451943,2018-05-16 21:12:10,96,Transcona #2,PM2.5 Particulates,71.0,ug/m3,"(49.905908, -96.975043)"
1487515,1451958,2018-05-16 21:17:12,96,Transcona #2,PM2.5 Particulates,73.0,ug/m3,"(49.905908, -96.975043)"
1487882,1451973,2018-05-16 21:22:14,96,Transcona #2,PM2.5 Particulates,65.0,ug/m3,"(49.905908, -96.975043)"
1488721,1452180,2018-05-16 22:32:42,96,Transcona #2,PM2.5 Particulates,79.0,ug/m3,"(49.905908, -96.975043)"
1488736,1452195,2018-05-16 22:37:44,96,Transcona #2,PM2.5 Particulates,116.0,ug/m3,"(49.905908, -96.975043)"
1488751,1452210,2018-05-16 22:42:46,96,Transcona #2,PM2.5 Particulates,120.0,ug/m3,"(49.905908, -96.975043)"
1488766,1452225,2018-05-16 22:47:48,96,Transcona #2,PM2.5 Particulates,130.0,ug/m3,"(49.905908, -96.975043)"
1489143,1452240,2018-05-16 22:52:50,96,Transcona #2,PM2.5 Particulates,80.0,ug/m3,"(49.905908, -96.975043)"
1489158,1452255,2018-05-16 22:57:52,96,Transcona #2,PM2.5 Particulates,114.0,ug/m3,"(49.905908, -96.975043)"
1489173,1452270,2018-05-16 23:02:54,96,Transcona #2,PM2.5 Particulates,65.0,ug/m3,"(49.905908, -96.975043)"
1489203,1452300,2018-05-16 23:12:57,96,Transcona #2,PM2.5 Particulates,86.0,ug/m3,"(49.905908, -96.975043)"
1489218,1452315,2018-05-16 23:17:59,96,Transcona #2,PM2.5 Particulates,87.0,ug/m3,"(49.905908, -96.975043)"
1489499,1452330,2018-05-16 23:23:01,96,Transcona #2,PM2.5 Particulates,79.0,ug/m3,"(49.905908, -96.975043)"
1489519,1452345,2018-05-16 23:28:03,96,Transcona #2,PM2.5 Particulates,86.0,ug/m3,"(49.905908, -96.975043)"

In [26]:
df.groupby('MeasurementType').count()

,ObservationID,ObservationTime,ThingID,LocationName,MeasurementValue,MeasurementUnit,location
MeasurementType,,,,,,,
Humidity,414403,414403,414403,414403,414403,414403,414403
PM2.5 Particulates,414379,414379,414379,414379,414379,414379,414379
Temperature,414386,414386,414386,414386,414386,414386,414386

In [11]:
df.groupby('ThingID')['ObservationID'].nunique()

ThingID
66      95837
72     186065
78     193486
96     231146
108    153494
114    130424
120    232460
Name: ObservationID, dtype: int64

In [28]:
table

MeasurementType   Humidity  PM2.5 Particulates  Temperature
ThingID
66               60.550746            9.891129     5.767208
72               65.096568            8.208362    -0.719975
78               64.041758            8.878986    -0.848058
90               61.675058           12.005594    13.758886
96               67.754282           10.434442    -0.182704
108              70.334404            9.018782    -2.200657
114              70.159341            9.807202    -3.888960
120              63.455020            8.455604     0.895021

In [6]:
df.to_csv('/users/Davwak/Downloads/cleaned_Air_Quality.csv')

In [8]:
df.loc[df.MeasurementValue == -99.99].count()

ObservationID       132
ObservationTime     132
ThingID             132
LocationName        132
MeasurementType     132
MeasurementValue    132
MeasurementUnit     132
location            132
dtype: int64

In [9]:
 df = df.loc[df.MeasurementValue != -99.99]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1222912 entries, 0 to 1498847
Data columns (total 8 columns):
ObservationID       1222912 non-null int64
ObservationTime     1222912 non-null datetime64[ns]
ThingID             1222912 non-null int64
LocationName        1222912 non-null object
MeasurementType     1222912 non-null category
MeasurementValue    1222912 non-null float64
MeasurementUnit     1222912 non-null category
location            1222912 non-null category
dtypes: category(3), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 59.5+ MB